<!DOCTYPE html>
<html>
<head>
    <title>Questions for Examination Regulations</title>
    <style>
        body {
            display: flex;
            justify-content: center;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Questions for Examination Regulations</h1>
        
        <p>Welcome to the question and answer website for examination 
           regulations from the univerity of Greifswald!</p>
        <p>Feel free to ask any questions you have regarding any examination 
           regulation that is accesable on the official univerity website ADD 
           LINK. <br>Please be aware that the Large Language Model can 
           hallucinate and give wrong information, always check important 
           information yourself.</p>
        <div class="column">
            <form action = "http://localhost:5000" method = "POST">
                <label for="question">Enter your question:</label><br>
                <br>
                <textarea id="question" name="question" class="question-input" placeholder="Enter your question"></textarea>
                <div class="button-container">
                    <button type="submit">Get Answer</button>
                </div>
            </form>
        </div>
        <div class="column">
            <textarea id="answer-display" class="answer-display" placeholder="Answer will be displayed here" readonly>{{ answer }}</textarea>
        </div>
    </div>
</body>
</html>
