body {
    background-color: #77ddff;
  }
  
  body, input, textarea {
    font-family: Arial, sans-serif;
  }
  
  /* add your text field types or any classes that should be light blue
  */
  textarea.question-input, textarea.answer-display, textarea.chunks-textarea {
    background-color: #b6ebfa;
  }

  button[type="submit"] {
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #b6ebfa;
    border: 1px solid;
  }
  button[type="submit"]:active {
    transform: translateY(1px);
  }
  